<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Books</title>
</head>
<body>
    <h1>Welcome, {{user.first_name}}!</h1>
    <a href="/logout">Log Out</a>

    <p>{{book.title}}</p>
    <p>Added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
    <p>Added on: {{book.created_at}}</p>
    <p>{{book.updated_at}}</p>
    <p>Description: {{book.description}}</p>

    <h1>Users Who Like This Book:</h1>
    {% for user in liked_user.all %}
        <ul>
            <li>{{ user.first_name }} {{ user.last_name }}</li>
        </ul>
    {% endfor %}
    <a href="/add_favorites/{{book.id}}">Add to Favorites</a>
    <a href="/books">To User Page</a>
</body>
</html>